html, body{
		  background-image: url('../images/book.jpg');
          height: 100%;
          width: 100%;}

        .login {
          height: 100%;
		  /*background: url(http://thumbs.dreamstime.com/x/books-background-15876900.jp)no-repeat center center; */
		  background-image: url("book.jpg");
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;  
           }

        .container {  
          position: absolute;
		  font-size: 18px;
		  left: 0%;
		  top: 40%;
          width: 100%;
          margin: 0 85px 0 auto;
}
         
         label{
          color: white;
         }
          

        .box-header{
          color: orange;
          }
             